* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

a, button {
    cursor: pointer;
}

body {
    padding: 0 20%;
    font-size: 16px;
    color: #222;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    min-width: 320px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

ol li {
    list-style-type: none;
}

ol li::before {
    content: '-';
}

.block-1 p:first-letter {
    color: #e80a0a;
    font-weight: bold;
    font-size: 24px;
    font-style: oblique;
}

.block-2:first-line {
    color: red;
    font-style: oblique;
}

.block-3{
margin-top: 20px;
}

.block-3::selection, .block-3 span::selection, .block-3 img::selection {
    background: #08be08;
}